@model AirLineTicketsApp.Entities.Plane

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Plane</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaneCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaneCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlaneType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlaneType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Picture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Picture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HandLuggageWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HandLuggageWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Boarding)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Boarding)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvailablePlaces)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvailablePlaces)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
