@model IEnumerable<AirLineTicketsApp.Entities.Plane>

@{
    ViewData["Title"] = "Index";
}

<h1>Planes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlaneCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaneType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HandLuggageWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Boarding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailablePlaces)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlaneCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaneType)
            </td>
            <td>
              <img src="  @Html.DisplayFor(modelItem => item.Picture)" alt="plane" width="100">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HandLuggageWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Boarding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailablePlaces)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
