@model IEnumerable<AirLineTicketsApp.Entities.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>reservations</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flight.Plane.Picture)
               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateReservation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketsCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Client.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Flight.FlightNum)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Flight.Plane.Picture)" alt="plane" width="100">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateReservation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketsCount)
            </td>



            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
